html, body {
    background-color: #fff;
    color: #797979;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5vw;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    max-height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2vw;
    font-weight: 400;
    margin: auto;

}

#root {
    height: 100%;
}

footer {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    padding: 1vw 0;
}

.content {
    width: 100%;
    height: 100%;
    margin: 4em auto 10px;
}

.icon {
    width: 2vw;
}
