.banner-home {
    width: 100%;
}

.banner-home img {
    width: inherit;
}


.title-sections {
    text-transform: uppercase;
    display: flex;
    margin: auto;
    font-size: 2vw;
    justify-content: center;
}
.title-sections p {
    font-size: 2.5vw;
    width: max-content;
    margin: 0px .5vw .5vw 0px;
}

.brown-text {
    color: #5C282C;
}
.orange-text {
    color: #F4BD5B;
}

.fine-line {
    width: 5vw;
    margin: auto;
}
.fine-line img {
    width: 100%;
}

.streamers-home {
    margin-top: 2vw;
    width: 100%;
    height: 15em;
    background-image: radial-gradient(#F9DEAD,#EEA43D);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-welcome {
    width: 80%;
    margin: 10vw auto 0;
    text-transform: uppercase; 
    display: flex;
    flex-direction: row;
}
.title-welcome h1 {
    font-size: 2.5vw;
    margin: 0;
}
.text-welcome {
    display: flex;
    width: 80%;
    margin: auto;
}
.text-welcome p {
    width: 40%;
}