.em-breve-box {
    width: 1200px;
    height: 800px;
    background-image: url('../../assets/fundo-soon.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2vw auto;
    position: relative;
   
}
.em-breve-box div {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: auto;
    font-size: 4em;
    font-weight: 300;
    color: #F4BD5B;
    padding: 0px;
}

.soon-text {
    font-weight: 400;
    margin: 2vw 0;

}