.streamers {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.flex {
    display: flex;
}
.flex h2 {
    width: auto;
    color: #EEA43D;
}
.flex p {
    width: auto;
}
.flex img {
    width: 100%;
}

.streamer-right {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: flex-end;
    width: 80%;
    padding-left: 20%;
    background-color: tomato;
    
}

.streamer-left {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: flex-start;
    width: 80%;    
    padding-right: 20%;
    background-color: wheat;
}