.streamers {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
}

.flex {
    display: grid;
    column-gap: 2em;
    margin: 5vw auto;
}
.streamer-right .flex {
    grid-template-columns: 3fr 2fr;
}
.streamer-left .flex {
    grid-template-columns: 2fr 3fr;
}
.flex h2, .flex h3 {
    color: #EEA43D;
}
.read-more, .read-more a {
    float: right;
    color: #B0B0B0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.read-more img {
    width: .7vw;
    padding-left: .5vw;
}
.streamer-right {
    padding-left: 10%;
    
}
.streamer-left {
    padding-right: 10%;
}
.streamer-right .read-more {
    justify-content: flex-start;
}
.streamer-left .read-more {
    justify-content: flex-end;
}

.agenda-streamer {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
    margin: 0;
    margin-top: -1vw;
    padding-bottom: 1vw;
}