.navbar, .navbar a{
    width: 100%;
    height: auto;
    background-color: #EEA43D;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}

.navbar ul {
    width: max-content;
    display: flex;
}
.navbar ul li {
    list-style: none;
    padding: 1vw;
}
.logo-navbar img {
    width: 12vw;
}